# 🔹 Exclure les fichiers Python générés automatiquement
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Exclure l'environnement virtuel Python
venv/
env/

# 🔹 Exclure les fichiers système inutiles (Mac et Windows)
.DS_Store
Thumbs.db

# 🔹 Exclure les fichiers de logs et temporaires
logs/
*.log


# Dossier de cache des tests Pytest
.pytest_cache/

# Dossier instance de Flask
instance/



